module.exports =
  app:
    trace: true
    secret: "your session secret"
  oauth:
    trace: false
    consumer:
      url: "http://localhost:{port}"
      id: "your oauth id"
      secret:"your oauth secret"
      scope: "account consumption device" # @todo finalize this list
      threshold: 60
    provider:
      url: "https://dev.tendrilinc.com"
      authorize: "/oauth/authorize"
      accessToken: "/oauth/access_token"
      logout: "/oauth/logout"
      route: "sandbox"
