module.exports =
  app:
    trace: true
    secret: "your session secret"
  oauth:
    trace: false
    consumer:
      url: "http://localhost:{port}"
      id: "your oauth id"
      secret:"your oauth secret"
      scope: "greenbutton"
      threshold: 60
      routes:
        connect: "/session/connect"
        connected: "/session/connected"
        disconnect: "/session/disconnect"
        disconnected: "/session/disconnected"
    provider:
      url: "https://dev.tendrilinc.com"
      authorize: "/oauth/authorize"
      accessToken: "/oauth/access_token"
      logout: "/oauth/logout"
      route: "sandbox"
