- if (user && locals.data)
  p.lead #{data.title} Green Button Data
  
  link(rel="stylesheet", type="text/css", href="/css/chart.css")
  script(id="chartData", type="application/json")!= data
  //if lte IE 8
    script(src="/js/flot/excanvas.js")
  script(src="/js/flot/jquery.flot.min.js")
  script(src="/js/flot/jquery.flot.selection.min.js")
  script(src="/js/flot/jquery.flot.crosshair.min.js")
  script(src="/js/date/date.js")
  script(src="/js/chart.js")
  
  #charts.row
    .span9
      #placeholder
      #overview
    .span3
      #legend
  
- else
  a.btn.btn-large.primary(href="/session/connect") View My Data


