!!!
html
  head
    title Tendril Connect App
    link(rel="stylesheet", href="/css/bootstrap.min.css")
  body
    .container
      h1.page-header Tendril Connect App
      != messages()
      .content!= body
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
